{{#if posts.length}}
<section>
   <h2>Your Posts:</h2>
   {{#each posts as |post|}}
   {{> dashboard-postinfo post}}
   {{/each}}
</section>
{{/if}}

<button type = "submit" class = "button"><a class = "link-button" href = "/dashboard/new">Add a New Post</a></button>