<div class = "card">
   <h3 class = "card-header">Create a New Post</h3>
   <form class = "card-body new-post-form" id = "new-post-form">
      <label for = "post-title" class = "form-label">Post Title</label>
      <input type = "text" id = "post-title" name = "post-title" class = "form-input" />

      <label class = "form-label" for = "content">Post Content</label>
      <input id = "content" name = "content" class = "form-input" />

      <button type = "submit" class = "button link-button">Create This Post</button>
   </form>
</div>

<script src = "/javascript/add-post.js"></script>